{% extends "base.html" %}

{% block content %}
<h2>Log a Solved Problem</h2>

<form method = "POST" action="{{ url_for('add') }}">
    Title: <input type="text" name="title"><br>
    Pattern: <input type="text" name="pattern"><br>
    Difficulty: <input type="text" name="difficulty"><br>
    Date solved: <input type="date" name="date_solved"><br>
    Needed help to solve it? <input type="checkbox" name="needed_help"><br>
    Repeat retests (growing interval)? <input type="checkbox" name="repeat_retests"><br>
    Notes:<br>
    <textarea name="notes"></textarea>

    <button type="submit">Save</button>
</form>

{% endblock %}
