{% extends "base.html" %}

{% block content %}
<h2>Logged Problems</h2>

{% for problem in problems %}
<div class="problem">
    <div class="problem-header">
        <strong class="problem-title">{{ problem.title }}</strong>
        <span class="meta">{{ problem.pattern }} &middot; {{ problem.difficulty }} &middot; {{ problem.date_solved.strftime('%b %d, %Y') }}</span>
    </div>

    {% if problem.notes %}
    <div class="notes">{{ problem.notes }}</div>
    {% endif %}

    <div class="actions">
        {% if problem.id in due_ids %}
        {{ "Due for retest" }}
        <form method="POST" action="{{ url_for ('retest', problem_id=problem.id) }}">
            <button type="submit">Mark retest done</button>
        </form>
        {% elif not problem.needed_help %}
        {{ "(No action needed.)" }}
        {% elif problem.needed_help and problem.retest_completed_at != None %}
        {{ "(At least 1 retest completed.) " }}
        {% else %}
        {{ "(Retest not due.) " }}
        {% endif %}

        <a href="{{ url_for('edit', problem_id=problem.id) }}">Edit</a>
        <form method="POST" action="{{ url_for('delete', problem_id=problem.id) }}">
            <button type="submit">Delete</button>
        </form>
    </div>
</div>
{% endfor %}
{% endblock %}
